# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Archivos temporales de Quarto/LaTeX
*.log
*.aux
*.out
*.toc
*.synctex.gz

# Artefactos regenerables (Quarto render)
**/build/

# Archivos del sistema
.DS_Store
Thumbs.db